<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head" />
<body class="">
    <div id="page-wrapper">

        <!-- Header -->
        <div id="header-wrapper" th:replace="fragments/header" />



        <div id="content" class="full-body">
            <div class="container">
                <!--                 <div th:replace="fragments/topbar" /> -->

                <div class="row">

                    <div class="col-md-12">
                        <!-- Content -->
                        <div id="content">


                            <div class="">


                                <div class="col-md-6 col-md-offset-3">
                                    <h2>Activation</h2>

                                    <p class="alert alert-success" th:if="${success}">
                                        Success! :)
                                    </p>
                                    <p class="alert alert-danger" th:if="${error}">
                                        Something went wrong. Remember you can contact with us to resolve problem :)
                                    </p>
                                </div>
                            </div>

                        </div>




                    </div>
                </div>
                <!-- Sidebar -->
            </div>


            <!-- Footer -->

        </div>

        <div id="footer-wrapper" th:replace="fragments/footer" />

    </div>

    <!-- Scripts -->
    <script th:replace="fragments/scripts" />

</body>
</html>