

    <div class="" th:if="${currentUser == null}">
        <h3>Log in</h3>
        <p th:if="${param.error}" class="alert alert-danger" id="error" >
                    Email or password is wrong.
            </p>
        <form id="loginForm" role="form" name="form" method="post" action="">
            <input id="csrf" type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <input type="hidden" name="redirect" value="" id="redirParam" />
            <div class="form-group" th:class="${'form-group'}">
                <label for="email">Email address</label> 
                <input class="form-control" type="email" th:value="${form != null ? form.email : ''}" name="email"
                    id="email" required="required" /> 
                    

            </div>
            <div class="form-control" th:class="${'form-group'}">
                <label for="password">Password</label> 
                <input class="form-control" type="password" name="password" id="password" required="required" />

            </div>
            <div class="form-group text-right">
            
            <button class="btn btn-default" id="sbmbtn" type="submit">Log in</button>
            </div>
        </form>
        <script>
            $(document).ready(function(){
                console.log(gup('redirect'))
                if (gup('redirect') != ""){
                    $("#redirParam").val(gup('redirect'));
//                     $("#loginForm").attr("action", "/login?redirect="+gup('redirect'));
        		}
                $("#email").focus(function(){
                	console.log("asd")
	            		$("#error").css("display","none")
	            	})
	            	$("#password").focus(function(){
	            		$("#error").css("display","none")
	            	})
                
    		});
		</script>
                

<!--                  <h3> -->
<!--                         Forgot password?  <a href="/remind" class="btn btn-default button " style="">Reset it!!</a> -->
<!--                     </h3> -->
    </div>
    
    
    <div class="" th:if="${currentUser != null}">
        <span th:text="${currentUser.email}"/>
        <ul>
            <li><a href="/user/day/add" >Add Day</a></li>
            
            <li><a href="/user/day/list" >All days</a></li>
            <li><a href="/logout" >Logout</a></li>
        </ul>
    </div>
    
