

    <div class="" th:if="${currentUser == null}">
        <h3>Log in</h3>
        <span id="error" style="display:none; color:#f00;">
                    Email or password is wrong.
            </span>
        <form id="loginForm" role="form" name="form" method="post" action="/login">
            <input id="csrf" type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

            <div class="form-group" th:class="${'form-group'}">
                <label for="email">Email address</label> 
                <input class="form-control" type="email" th:value="${form != null ? form.email : ''}" name="email"
                    id="email" autofocus="autofocus" required="required" /> 
                    

            </div>
            <div class="form-control" th:class="${'form-group'}">
                <label for="password">Password</label> 
                <input class="form-control" type="password" name="password" id="password" required="required" />

            </div><br />
            <button class="btn btn-default" id="sbmbtn" type="submit">Save</button>
        </form>
        <script>
             	// <![CDATA[	
// 				$("#registerForm .form-group input").click(function(){
// 						$(this).parent().find("span").remove();
// 						$(this).parent().removeClass("has-error");
// 						$(this).parent().removeClass("has-feedback");
// 					})
				
             	            $(document).ready(function(){
             	            	$("#sbmbtn").click(function(event){
             	            		event.preventDefault();
             	            		console.log("click")
             	            		$.ajax({
             	                 	  method: "POST",
             	                 	  url: "/login",
             	                 	  data: { email: $("#email").val(), password: $("#password").val(), _csrf : $("#csrf").val()}
             	                 	})
             	                 	  .done(function( msg ) {
             	                 	    var text = $(msg, "p").text();
             	                 	    console.log(text)
             	                 	    vars = text.split("|");
             	                 	    if (vars[0] == 'false'){
             	                 	      	$("#error").show();
             	                 	        $("#csrf").val(vars[2])
             	                 	    }
             	                 	    else {
             	                 	    	window.location.replace("/user/day/list");
             	                 	    }
             	                 	  })
             	            		
             	            		return false;
             	            	})
             	            	
             	            	$("#email").on("input focus change", function(){
             	            		$("#error").hide();
             	            	})
             	            	$("#password").on("input focus change", function(){
             	            		$("#error").hide();
             	            	})
             	            
             	            })
                
             	// ]]>
                </script>
                 <h3>
                        Forgot password?  <a href="/remind" class="btn btn-default button " style="">Reset it!!</a>
                    </h3>
    </div>
    
    
    <div class="" th:if="${currentUser != null}">
        <span th:text="${currentUser.email}"/>
        <ul>
            <li><a href="/user/day/add" >Add Day</a></li>
            
            <li><a href="/user/day/list" >All days</a></li>
            <li><a href="/logout" >Logout</a></li>
        </ul>
    </div>
    
