
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head" />
<body class="">
    <div id="page-wrapper">

        <!-- Header -->
        <div id="header-wrapper" th:replace="fragments/header" />



        <div id="content" class="full-body">
            <div class="container">
<!--                 <div th:replace="fragments/topbar" /> -->

                <div class="row">

                    <div class="col-md-12">
                        <!-- Content -->
                        <div id="content">
                        <hr />
                        <h2>Profile</h2>
                       
                            <div  class="">
                             
                                    <!-- <p th:text="${'Error code: '+error.key}" /> -->
<!--                                     <p th:if="${errors != null}"  role="alert"> -->
                                <th:block th:if="${errors != null and errors.size() > 0 }" >
                                    <p class="alert alert-danger">
                                        <th:block th:each="error : ${errors}">
                                            <span  th:text="${error.value}"></span><br />
                                        </th:block>
                                    </p>
                               </th:block>
                              <th:block th:if="${saveSuccess}">
                              
                                <p class="alert alert-success"> Settings updated </p>
                              
                              </th:block>


                            <form id="registerForm" role="form" name="form" action="/user/profile" method="post">
                                <div class="col-md-6">



                                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                    <div class="form-group">
                                        <label for="username">Username</label> <input class="form-control" type="text"
                                            th:value="${form != null ? form.username : ''}" name="username" id="username" autofocus="autofocus"
                                            required="required" />
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email address</label> <input class="form-control" type="email"
                                            th:value="${form != null ? form.email : ''}" name="email" id="email" required="required" autocomplete="off" />
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Password</label> <input class="form-control" type="password" th:name="password" id="password"
                                            value="" placeholder="Password" autocomplete="off" />
                                    </div>

                                    <div class="form-group" style="display:none;">
                                        <label for="passwordRepeated">Repeat</label> <input class="form-control" type="password" th:name="passwordRepeated"
                                            id="passwordRepeated" value="" autocomplete="off"/>
                                    </div>
                                </div>
                                <div class="col-md-6">
<!--                                     <div class="form-group"> -->
<!--                                         <label for="passwordRepeated">Timezone</label> <select class="form-control" th:name="timezone"> -->
<!--                                             <option th:each="s : ${timezones}" th:value="${s.key}" th:text="${s.value}" -->
<!--                                                 th:selected="${form != null and s.key == form.timezone}" /> -->

<!--                                         </select> -->
<!--                                     </div> -->

                                    <div class="form-group">
                                        <label for="passwordRepeated">Sharing</label> <select class="form-control" th:name="shareStyle">
                                            <option th:each="s : ${shareStyles}" th:value="${s.key}" th:text="${s.key + ' - ' +s.value}"
                                                th:selected="${form != null and s.key == form.shareStyle}" />

                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="passwordRepeated">Input type</label> <select class="form-control" th:name="inputType">
                                            <option th:each="s : ${inputTypes}" th:value="${s.key}" th:text="${s.key + ' - ' +s.value}"
                                                th:selected="${form != null and s.key == form.inputType}" />
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="passwordRepeated">Notify me about my absence every</label> 
                                       <select class="form-control" th:name="notificationFrequency">
                                            <option th:each="s : ${notificationFrequencyTypes}" th:value="${s.key}" th:text="${s.value}"
                                                th:selected="${form != null and s.key == form.notificationFrequency}" />
                                        </select>
                                    </div>
                                    
                                    
                                    <div class="form-group text-right">
                                        <br />
                                        <button class="btn btn-default" style="" type="submit">Save</button>
                                    </div>
                                </div>

                            </form>
                            <script>
								$(".alert").click(function() {$(this).remove();})
								setTimeout(function(){$("#password").val("");}, 400)
								$("#password").on("click", function(){
									$("#passwordRepeated").parent().show();
								})
							</script>
                        </div>
                   

                   
                   
                    </div>
                    </div>
                    <!-- Sidebar -->


                </div>
            </div>
        </div>





        <!-- Footer -->
        <div id="footer-wrapper" th:replace="fragments/footer" />

    </div>

    <!-- Scripts -->
    <script th:replace="fragments/scripts" />

</body>
</html>