<div id="header-wrapper">
                    <div id="header" class="container">

                        <!-- Logo -->
                      
                            <h1 id="logo"><a href="/"><img id="logo-img" th:src="@{/strongly-typed/assets/css/images/logo.png}"/></a></h1>
<!--                             <p>Save your day in six words and make it your diary</p> -->

                        <!-- Nav -->
                            <nav id="nav-diary">
                                <ul>
                                    <li><a href="/about"><span>About</span></a></li>
                                    <li><a href="/contact"><span>Contact</span></a></li>
<!--                                     <li><a class="icon fa-home" href="index.html"><span>Introduction</span></a></li> -->
<!--                                     <li> -->
<!--                                         <a href="#" class="icon fa-bar-chart-o"><span>Dropdown</span></a> -->
<!--                                         <ul> -->
<!--                                             <li><a href="#">Lorem ipsum dolor</a></li> -->
<!--                                             <li><a href="#">Magna phasellus</a></li> -->
<!--                                             <li><a href="#">Etiam dolore nisl</a></li> -->
<!--                                             <li> -->
<!--                                                 <a href="#">Phasellus consequat</a> -->
<!--                                                 <ul> -->
<!--                                                     <li><a href="#">Magna phasellus</a></li> -->
<!--                                                     <li><a href="#">Etiam dolore nisl</a></li> -->
<!--                                                     <li><a href="#">Phasellus consequat</a></li> -->
<!--                                                 </ul> -->
<!--                                             </li> -->
<!--                                             <li><a href="#">Veroeros feugiat</a></li> -->
<!--                                         </ul> -->
<!--                                     </li> -->
<!--                                     <li><a class="icon fa-cog" href="left-sidebar.html"><span>Left Sidebar</span></a></li> -->
<!--                                     <li><a class="icon fa-retweet" href="right-sidebar.html"><span>Right Sidebar</span></a></li> -->
<!--                                     <li><a class="icon fa-sitemap" href="no-sidebar.html"><span>No Sidebar</span></a></li> -->
                                </ul>
                            </nav>

                    </div>
                </div>