<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <div class="bottom">
                    <img alt="Logo" src="/img/logo.png" class="w_logo" />
                </div>
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <!--<form class="navbar-form navbar-right" role="form">-->
            <ul class="nav navbar-nav navbar-right">
                <li><a class="" title="About us!" href="/about">About</a></li>
                <li><a class="" title="Contact with us!" href="/contact">Contact</a></li>
            </ul>
        </div>
        <hr />
    </div>
</div>


<!--     <nav role="navigation"> -->
<!--     <ul> -->
<!-- 		${zmienna} -->
<!--         <li><a href="/login">Log in</a></li> -->

<!--         <li> -->
<!--             <form action="/logout" method="post"> -->
<!--                 <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/> -->
<!--                 <button type="submit">Log out</button> -->
<!--             </form> -->
<!--         </li> -->
<!--         <li><a href="/user/${currentUser.id}">View myself</a></li> -->

<!--         <li><a href="/user/create">Create a new user</a></li> -->
<!--         <li><a href="/users">View all users</a></li> -->

<!--     </ul> -->
<!-- </nav> -->