<div class="1u"></div>
<div id="sidebar" class="3u 12u(mobile)">

    <!-- Excerpts -->
    <section>

        <div class="col-md-12" th:if="${currentUser == null}">
<!--             <h3>Log in</h3> -->
            <form id="loginForm" role="form" name="form" method="post" action="/login">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

                <div class="form-group" th:class="${'form-group'}">
                    <label for="email">Email address</label> <input class="form-control" type="email" th:value="${form != null ? form.email : ''}" name="email"
                        id="email" autofocus="autofocus" required="required" />


                </div>
                <div class="form-control" th:class="${'form-group'}">
                    <label for="password">Password</label> <input class="form-control" type="password" name="password" id="password" required="required" />

                </div>
                <br />
                <button class="btn btn-default button " style="" type="submit">Login</button><br /><br />
                <h3>Don't have an account yet? Register!</h3>
                <a href="/register" class="btn btn-default button " style="">Register</a>
            </form>
        <script>    
                $("#registerForm .form-group input").click(function(){
                        $(this).parent().find("span").remove();
                        $(this).parent().removeClass("has-error");
                        $(this).parent().removeClass("has-feedback");
                    })
                </script>
        </div>
        <div class="col-md-12" th:if="${currentUser != null}">
            <p>
                Hi, <a href="/user/details" th:text="${currentUser.email}"></a>
            </p>
            <ul class="nav">
                <li><a href="/user/day/add">Add Day</a></li>

                <li><a href="/user/day/list">All days</a></li>


                <li><a href="/user/edit">Options</a></li>

            </ul>

            <form method="post" action="/logout">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /> <input type="submit" value="Logout" />
            </form>
        </div>
    </section>
</div>

<!--                                             <ul class="divided"> -->
<!--                                                 <li> -->

<!--                                                     Excerpt -->
<!--                                                         <article class="box excerpt"> -->
<!--                                                             <header> -->
<!--                                                                 <span class="date">July 30</span> -->
<!--                                                                 <h3><a href="#">Just another post</a></h3> -->
<!--                                                             </header> -->
<!--                                                             <p>Lorem ipsum dolor odio facilisis convallis. Etiam non nunc vel est -->
<!--                                                             suscipit convallis non id orci lorem ipsum sed magna consequat feugiat lorem dolore.</p> -->
<!--                                                         </article> -->

<!--                                                 </li> -->
<!--                                                 <li> -->

<!--                                                     Excerpt -->
<!--                                                         <article class="box excerpt"> -->
<!--                                                             <header> -->
<!--                                                                 <span class="date">July 28</span> -->
<!--                                                                 <h3><a href="#">And another post</a></h3> -->
<!--                                                             </header> -->
<!--                                                             <p>Lorem ipsum dolor odio facilisis convallis. Etiam non nunc vel est -->
<!--                                                             suscipit convallis non id orci lorem ipsum sed magna consequat feugiat lorem dolore.</p> -->
<!--                                                         </article> -->

<!--                                                 </li> -->
<!--                                                 <li> -->

<!--                                                     Excerpt -->
<!--                                                         <article class="box excerpt"> -->
<!--                                                             <header> -->
<!--                                                                 <span class="date">July 24</span> -->
<!--                                                                 <h3><a href="#">One more post</a></h3> -->
<!--                                                             </header> -->
<!--                                                             <p>Lorem ipsum dolor odio facilisis convallis. Etiam non nunc vel est -->
<!--                                                             suscipit convallis non id orci lorem ipsum sed magna consequat feugiat lorem dolore.</p> -->
<!--                                                         </article> -->

<!--                                                 </li> -->
<!--                                             </ul> -->
<!-- </section> -->

<!-- Highlights -->
<!--                                         <section> -->
<!--                                             <ul class="divided"> -->
<!--                                                 <li> -->

<!--                                                     Highlight -->
<!--                                                         <article class="box highlight"> -->
<!--                                                             <header> -->
<!--                                                                 <h3><a href="#">Something of note</a></h3> -->
<!--                                                             </header> -->
<!--                                                             <a href="#" class="image left"><img src="images/pic06.jpg" alt="" /></a> -->
<!--                                                             <p>Phasellus  sed laoreet massa id justo mattis pharetra. Fusce suscipit ligula vel quam -->
<!--                                                             viverra sit amet mollis tortor congue magna lorem ipsum dolor et quisque ut odio facilisis -->
<!--                                                             convallis. Etiam non nunc vel est suscipit convallis non id orci. Ut interdum tempus -->
<!--                                                             facilisis convallis. Etiam non nunc vel est suscipit convallis non id orci.</p> -->
<!--                                                             <ul class="actions"> -->
<!--                                                                 <li><a href="#" class="button icon fa-file">Learn More</a></li> -->
<!--                                                             </ul> -->
<!--                                                         </article> -->

<!--                                                 </li> -->
<!--                                                 <li> -->

<!--                                                     Highlight -->
<!--                                                         <article class="box highlight"> -->
<!--                                                             <header> -->
<!--                                                                 <h3><a href="#">Something of less note</a></h3> -->
<!--                                                             </header> -->
<!--                                                             <a href="#" class="image left"><img src="images/pic07.jpg" alt="" /></a> -->
<!--                                                             <p>Phasellus  sed laoreet massa id justo mattis pharetra. Fusce suscipit ligula vel quam -->
<!--                                                             viverra sit amet mollis tortor congue magna lorem ipsum dolor et quisque ut odio facilisis -->
<!--                                                             convallis. Etiam non nunc vel est suscipit convallis non id orci. Ut interdum tempus -->
<!--                                                             facilisis convallis. Etiam non nunc vel est suscipit convallis non id orci.</p> -->
<!--                                                             <ul class="actions"> -->
<!--                                                                 <li><a href="#" class="button icon fa-file">Learn More</a></li> -->
<!--                                                             </ul> -->
<!--                                                         </article> -->

<!--                                                 </li> -->
<!--                                             </ul> -->
<!--                                         </section> -->

<!--                                 </div> -->




