<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head" />
<body class="">
    <div id="page-wrapper">
        <div class="container">
            <!-- Header -->
            <div id="header-wrapper" th:replace="fragments/header" />

            <div id="content" class="full-body">
                <!--             <div class="container"> -->

                <div class="row">

                    <div class="col-md-12">
                        <!-- Content -->
                        <div id="content">


                            <p class="alert alert-danger">Something went wrong. Probably this user doesn't exist. <a href="">Go back</a></p>
                            

                        </div>
                    </div>


                </div>
            </div>

            <div id="footer-wrapper" th:replace="fragments/footer" />
        </div>
    </div>

    <!-- Scripts -->
    <script th:replace="fragments/scripts" />

</body>
</html>