@font-face {
font-family: AlwaysTogether;
src: url("../fonts/AlwaysTogether.otf") format("opentype");
}
body{
    background: url(../img/background.jpg) top center;
    background-size: 100% auto;
    	background-repeat: no-repeat;
    background-attachment: fixed;
    color: #181868;
    font-family: 'AlwaysTogether', cursive;
    font-size:24px;
      -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
input.form-control{
    color:#4c4c97;
}
.btn-default{
    background:#fffdb9;
    color:#ed796c;
    font-weight: bold;
    border: 1px solid #d6b46b; 
}
.full-body{
/*     background: #edfaff;//url(../img/crossword.png) repeat;   */
/*     padding-top:2em; */
/*     padding-bottom:2em; */
}



.card{
       -webkit-box-shadow: 3px 3px 3px 0px rgba(117,117,117,1);
         -moz-box-shadow: 3px 3px 3px 0px rgba(117,117,117,1); 
         box-shadow: 3px 3px 3px 0px rgba(117,117,117,1); 
    padding:10px;
    margin:20px;
    border:1px solid #eeeeee;
    background: #fffffe;
    clear:both;
    position:relative;
}
#logo{
    text-align: center; 

    display:inline-block;

}
#logo img{
    height: 3em;

}
#top{
/*     background: #fffffe; */
}
#content{
	padding:20px 15px;
}
#content .alert{
	margin:0px 15px;
}
#footer .content{
	border-top:1px solid #ccc;
    padding:30px 0px;
}
#menu{
    vertical-align: bottom;

    line-height: 3em;


}
#menu ul{
    /*bottom:20px;*/
}
#menu ul>li>a{
    font-size: 1.5em;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
    background: #fff;
}
#menu ul>li>a{
    background:#fff;
    color: #8888A5;
}
#menu ul>li>a:hover,#menu ul>li>a.active {
    background:#fff;
    color: #ed796c;

}

/* .form-control{ */
/*     font-size:20px; */
/* } */

.ico{

	height:25px;
	display:inline-block;
/* 	float:left; */
	margin:5px;
}

.ico i{
	display:inline-block;
	width:25px;

}
.icoPOSITIVE i{
	background: url("../img/positiveIco.png") no-repeat center center;
}
.icoNEUTRAL i{
	background: url("../img/neutralIco.png") no-repeat center center;
}
.icoNEGATIVE i{
	background: url("../img/negativeIco.png") no-repeat center center;
}

.edit-list-element{
	position:absolute;
	right:10px;
	top:10px;
}
.item-navias{
	color:#cccccc;

}

.sentence i{
	margin:0px 5px;
}

.note{
	margin-top:10px;
	margin-bottom:10px;
}

.container{
	background:#fff;
	opacity:0.92;
	z-index:500;
}
.dropdown-menu{
	z-index:10000;
}

.unshare{
	position:absolute;color:#ed796c;top:25%;right:5px;
}