<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head" />
<body class="right-sidebar">
    <div id="page-wrapper">

        <!-- Header -->
        <div id="header-wrapper" th:replace="fragments/header" />

        <!-- Main -->
        <div id="main-wrapper">
            <div id="main" class="container">
                <div class="row">

                    <!-- Content -->
                    <div id="content" class="table-striped">
                        <table class="table">
                            <tr>
                                <th>
                                    Date
                                </th>
                                <th colspan="6">
                                    Sentence/Words
                                </th>
                            </tr>
                            <tr  th:if="${days.size() > 0}" th:each="day : ${days}"  th:with="df=${@environment.getProperty('date.format.display')}">
                                <td th:text="${#calendars.format(day.creationDate,df)}"></td>
                                <td  colspan="6" th:if="${day.sentence != null}" >
                                    <span th:text="${day.sentence.value}" ></span>
                                    <span th:class="${'ico ico'+day.sentence.status}"><i></i></span>
                                </td>
                                <td th:if="${day.words != null}" th:each="word : ${day.words}">
                                    
                                    <span th:text="${word.value.value}" ></span>
                                    <span th:class="${'ico ico'+word.status}"><i></i></span>
                                </td>
                                <td th:if="${day.CanAdd}" th:with="dfx=${@environment.getProperty('date.format.add')}">
                                    <a th:href="${'/user/day/add?date='+#calendars.format(day.creationDate,dfx)}" >Save THE day</a>
                                    
                                </td>
                            </tr>
                        </table>
                        <h3 th:if="${days.size() == 0}">You have to save at least one day to see it here.</h3>


                    </div>

                    <!-- Sidebar -->
                    <div id="sidebar" class="4u 12u(mobile)" th:replace="fragments/sidebar " />

                </div>
            </div>
        </div>

        <!-- Footer -->
        <div id="footer-wrapper" th:replace="fragments/footer" />

    </div>

    <!-- Scripts -->
    <script th:replace="fragments/scripts" />

</body>
</html>