<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head" />
<body class="right-sidebar">
    <div id="page-wrapper">

        <!-- Header -->
        <div id="header-wrapper" th:replace="fragments/header" />

        <!-- Main -->
        <div id="main-wrapper">
            <div id="main" class="container">
                <div class="row">

                    <!-- Content -->
                    <div id="content" class="8u 12u(mobile)">
                        <table th:if="${days.size() > 0}">
                            <tr th:each="day : ${days}">
                                <td th:text="${day.creationDate}"></td>
                                <td th:if="${day.sentence != null}" th:text="${day.sentence.value + ' - ' + day.sentence.status + ' by ' + day.user.email}"></td>
                                <td th:if="${day.sentence == null}"><span th:each="word : ${day.words}"
                                    th:text="${word.value.value + ' - ' + word.status + ', '}"></span></td>
                            </tr>
                        </table>
                        <h3 th:if="${days.size() == 0}">You have to save at least one day to see it here.</h3>


                    </div>

                    <!-- Sidebar -->
                    <div id="sidebar" class="4u 12u(mobile)" th:replace="fragments/sidebar " />

                </div>
            </div>
        </div>

        <!-- Footer -->
        <div id="footer-wrapper" th:replace="fragments/footer" />

    </div>

    <!-- Scripts -->
    <script th:replace="fragments/scripts" />

</body>
</html>