<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head" />
<body class="">
    <div id="page-wrapper">
        <div class="container">
            <!-- Header -->
            <div id="header-wrapper" th:replace="fragments/header" />



            <div id="content" class="full-body">
                <!--             <div class="container"> -->

                <!--                 <div id="sidebar" class="col-md-3" th:replace="fragments/topbar " /> -->

                <div class="row">

                    <div class="col-md-6 col-md-offset-3">
                        <!-- Content -->
                        <div class="content">
                            <div class="alert alert-success text-center">
                                <b>Coming soon! :)</b>
                                <div class="progress ">
                                    <div class="progress-bar progress-bar-success " role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"
                                        style="width: 30%">
                                        <span class="sr-only">30% Complete</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>





            <!-- Footer -->
            <div id="footer-wrapper" th:replace="fragments/footer" />
        </div>
    </div>

    <!-- Scripts -->
    <script th:replace="fragments/scripts" />

</body>
</html>