<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head" />
<body class="">
    <div id="page-wrapper">
        <div class="container">
            <!-- Header -->
            <div id="header-wrapper" th:replace="fragments/header" />



            <div id="content" class="full-body">
                <!--             <div class="container"> -->
                <!--                 <div th:replace="fragments/topbar" /> -->

                <div class="row">

                    <div class="col-md-12">
                        <!-- Content -->
                        <div id="content">

<!--                             <div class="card"> -->
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <i class="fa fa-angle-right"></i>
                                    How do I save my days?
                                </div>
                                <div class="panel-footer">
                                    <p>You write six words that describes your day in the best way. 
                                        There are two available input types: you can either write
                                        six separate words or one sentence composed of six words.
                                        For each word/sentence you also choose whether it is positive, 
                                        neutral or negative feeling.
                                    </p>
                                </div>
                            </div>
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <i class="fa fa-angle-right"></i>
                                    Can I change my input type?
                                </div>
                                <div class="panel-footer">
                                    <p>Sure, you can do this but only once per month. 
                                        So you need to be convinced of it, otherwise you will have to
                                        wait another month before next input type changing.</p>
                                </div>
                            </div>
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <i class="fa fa-angle-right"></i>
                                    Who can see my diary?
                                </div>
                                <div class="panel-footer">
                                    <p>It depends on you who you want to share your days with. 
                                        You choose one of four options in profile settings: <br />
                                        - Public - allows everyone to see your diary <br />
                                        - Protected - only logged in users can see your diary <br />
                                        - For selected - you share your diary with users who 
                                        you select in "share" section <br />
                                        - Private - you don't share your diary at all
                                    </p>
                                </div>
                            </div>
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <i class="fa fa-angle-right"></i>
                                    I'd like to make my profile public but there are 
                                    few entries that I would like to hide. Is it possible?
                                </div>
                                <div class="panel-footer">
                                    <p>Yes, there is an option to choose for each day 
                                        if you'd like to make it private, protected, for selected 
                                        or public. </p>
                                    <p>However, this function doesn't work reverse. You are 
                                        able to hide some of your days but if your profile
                                        is hidden you cannot share particular days.</p>
                                </div>
                            </div>
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <i class="fa fa-angle-right"></i>
                                    Can I edit my entry after saving the day?
                                </div>
                                <div class="panel-footer">
                                    <p>You can edit entries from specific 3 days, starting from
                                        the current day and ending with 2 days before it.</p>
                                    <p>Although, you can always change the sharing style of the day.</p>
                                </div>
                            </div>
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <i class="fa fa-angle-right"></i>
                                    What if I happen to forget to save my day?
                                </div>
                                <div class="panel-footer">
                                    <p>No problem! You can always complete days from the past.</p>
                                    <p>Additionally, we will send you an email about your
                                        absence. You can choose yourself how often you would 
                                        like us to send reminders.</p>
                                </div>
                            </div>
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <i class="fa fa-angle-right"></i>
                                    Can I change my username/e-mail?
                                </div>
                                <div class="panel-footer">
                                    <p>Yes, you can do it in account settings. Yes, anytime you want :)</p>
                                </div>
                            </div>
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <i class="fa fa-angle-right"></i>
                                    I did reset my password/create an account
                                    but I wasn't sent any email...
                                </div>
                                <div class="panel-footer">
                                    <p>Most likely it is in your SPAM folder. However, 
                                        if you still can't find it just send us
                                        a message by feedback form so we can work it out together.</p>
                                </div>
                            </div>
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <i class="fa fa-angle-right"></i>
                                    Can I delete my account?
                                </div>
                                <div class="panel-footer">
                                    <p>No, there is no such option. But still and all,
                                        you are able to deactive it in settings.</p>
                                </div>
                            </div>
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <i class="fa fa-angle-right"></i>
                                    I have deactivated my account but I want to resume 
                                    writing in Six Words Diary. Do I have to register again?
                                </div>
                                <div class="panel-footer">
                                    <p>There is no need to do this. You can easily
                                        reactivate your account by logging in as usual. 
                                        This way you can easily get back to your old diary
                                        without losing any entries.</p>
                                </div>
                            </div>
<!--                         </div> -->

                        </div>
                    </div>
                    <!-- Sidebar -->



                </div>
            </div>





            <!-- Footer -->
            <div id="footer-wrapper" th:replace="fragments/footer" />
        </div>
    </div>

    <!-- Scripts -->
    <script th:replace="fragments/scripts" />

</body>
</html>