<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head" />
<body class="">
    <div id="page-wrapper">

        <!-- Header -->
        <div id="header-wrapper" th:replace="fragments/header" />

        <div id="content" class="full-body">
            <div class="container">
<!--                 <div th:replace="fragments/topbar" /> -->

                <div class="row">

                    <div class="col-md-12">
                        <!-- Content -->
                        <div id="content">

                            <div th:replace="fragments/customContent" />

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div id="footer-wrapper" th:replace="fragments/footer" />

    </div>

    <!-- Scripts -->
    <script th:replace="fragments/scripts" />

</body>
</html>